body {
 background-image: url(./background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

#header {
    text-align: center;
}

#imgfirst {
    width: 130px;
    /* height: 130px; */
}
.navigation {
    background-color: grey;
}

.nav:hover {
    background-color: blue;
}
table {
    margin: auto;
    height: 15vh;
    width: 100vw;

}

.konten {
    text-align: center;
    color: white;
    width: 700px;
}
.nav {
    text-decoration: none;
    color: white;
    margin-left: 128px;
    margin-right: 128px;
    text-align: center;
    

}

.isi {
    margin-left: 30px;
    margin-right: 30px;
    margin: auto;
    color: white;
}
.judul{
    color: white;
}
#footer {
    text-align: center;
    color: white;
}

.imgnews {
    width: 300px;
}

#buttonbuy {
    width: 60px;
    background-color: #455cd1;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
#link-buy {
    text-decoration: none;
}


.judultop{
    text-align: center;
    color: white;
}

.paymentform {
    background-color: #161711;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: block;
    width: 55%;
    margin-left: 20%;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    text-align: center;
    color: white;
}

#logo {
    text-align: center;
}

#judulpay {
    color: black;
}

#buttonpay {
    background-color: grey;
    width: 20%;
    height: 40px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #455cd1;
}

#buttonpay:hover {
    background-color: gray;
}

.notif {
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 290px;
}